/*add custom css theme wordpress*/

.c-tableResponsive br {
    display: none;
}

img {
    height: auto;
}
.notice-txt {
    display: inline-block;
}

#under {
    margin-top: 40px;
}

.breadcrumb ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: block;

}
.breadcrumb li {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.breadcrumb {
    color: #393939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 32px;
}

#paging {
    text-align: center;
    width: 100%;
}

.p-freeEditBox hr {
    margin: 32px auto;
}

/*------------------*/
.home .l-section {
    margin-bottom: 0;
}
.p-notice {
    margin-bottom: 24px;
}
h3.c-panel__title {
    font-size: 1.17em;
}
.l-youtube-4-3 {
    text-align: center;
}
.l-section-cart-bottom .p-single-btn-bottom-add-cart {
    margin-top: 60px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.p-programItems .c-item__title,
.p-items .c-item__title,
.p-rankingItems .c-item__title,
.p-categoryItems .c-item__title {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 8px;
    letter-spacing: 0;
}
.single .p-freeEditBox ul,
.single .p-freeEditBox li,
.page .p-freeEditBox ul,
.page .p-freeEditBox li{
    list-style-position: inside;
    list-style: inherit;
}
.single .p-freeEditBox .p-tags,
.page .p-freeEditBox .p-tags {
    list-style: none;
    padding-top: 24px;
}
.p-footer ul,
.p-footer li {
    list-style: none;
}
.single .p-freeEditBox ul,
.page .p-freeEditBox ul,
.single .p-freeEditBox ol,
.page .p-freeEditBox ol {
    padding-left: 40px;
    margin-bottom: 16px;
}
.page .p-freeEditBox .none_ol ul li,
.single .p-freeEditBox .none_ol ul li{
    list-style: none;
}

table.c-table.-center p {
    margin-bottom: 0;
}
span.close {
    color: red;
}
.c-button.-primary p {
    margin-bottom: 0;
}
/*.c-divider, hr  {*/
    /*border: none;*/
    /*border-top: 1px solid #DDDDDD;*/
    /*margin-bottom: 32px;*/
/*}*/
.c-sidebarItems.-vertical .c-item__thumbnail {
    position: relative;
}
.c-sidebarItems.-vertical .c-item__thumbnail .play-button {
    position: absolute;
    top: 51%;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/shortcode/play-button.png) no-repeat 50% 0% / 70px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
p.u-lh_sm {
    line-height: 1.5;
}
.prev.page-numbers, .next.page-numbers, .page-numbers, .page-numbers.current {
    display: inline-block;
    border: 1px solid #DDDDDD;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    color: #212121;
}
.c-pagenation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-pagenation .page-numbers {
    min-width: 36px;
    text-align: center;
    margin: 0 4px;
}
.c-pagenation ul a {
    width: unset !important;
}
.c-pagenation .page-numbers.current, .c-pagenation ul a:hover {
    background: #F0F0F0;
    color: #212121;
}

.c-quantityBox__input {
    width: 40%;
}

.c-control {
    -moz-appearance: inherit;
    -webkit-appearance: inherit;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    padding: 8px 8px;
    background-color: white;
    /*width: 100%;*/
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    appearance: none;
}

.c-productMeta br,
.p-amazonBox br,
.c-panel__body br,
.p-programHero br,
.l-section-cart-bottom br {
    display: none;
}

.l-main.l-main-event {
    max-width: none;
}

.p-programHero__thumbnail {
    position: relative;
}
.p-programHero__title {
    color: #ffffff;
}
.p-mainBuyBox__metas .c-button input[type="submit"],.c-button.-primary input[type="submit"] {
    background: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.l-double__sidebar br {
    display: none;
}

.p-mainBuyBox__metas .c-button p {
    margin-bottom: 0;
}
.c-button[disabled], .c-button.is-disabled {
    border-color: transparent;
    background-color: #F16B16;
    opacity: 0.5;
}

/*.c-productMeta a {*/
    /*text-decoration: underline;*/
/*}*/
.p-mainBuyBox__metas .p-mainBuyBox__name a {
    text-decoration: underline;
    display: inline-block;
}
.p-mainBuyBox__metas .p-mainBuyBox__name a:hover {
    opacity: 0.8;
    color: #33AA22;
    text-decoration: none;
}


.c-item__title  {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    letter-spacing: 1px;
}

/*.c-sectionTitle {*/
    /*margin-bottom: 16px;*/
    /*font-size: 28px;*/
/*}*/
.p-buyerProfile__name {
    font-size: 32px;
}
.p-mainBuyBox.short-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
}
.c-productMeta__infos dt > img {
    min-width: 32px;
    height: 32px;
}
.p-buyerProfile__thumbnail > img {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
}
.c-author__avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
    height: 32px;
}

.c-buyerItem__thumbnail > img {
    margin-bottom: 8px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.p-productThumbnails .p-productThumbnails__pagenation img {

    border-radius: 4px;
}

/*.p-productThumbnails__pagenation ul {*/
    /*grid-template-columns: repeat(auto-fill,minmax(60px, 1fr));*/
/*}*/
.c-button.-primary {
    width: 100%;
}

.p-mainBuyBox__thumbnails .swiper-container img {
    border-radius: unset;
    height: 340px;
}
/*.c-panel__body a {*/
    /*display: inline-block;*/
/*}*/


.p-productThumbnails__pagenation ul,
.p-productThumbnails__pagenation ul li {
    padding-left: 0 !important;
    list-style: none !important;
    margin-bottom: 0 !important;
}
.single .p-mainVisual__button.-prev {
    left: 16px;
}
.single .p-mainVisual__button.-next {
    right: 16px;
}

.swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.p-buyerProfile__hero {
    padding: 75px 32px;
}
.c-user__avatar {
    width: 56px;
    height: 56px;
}
.l-single-page > * {
    max-width: 1024px;
    margin: 0 auto 32px;
}
.page-template-page_template_default .l-single-page > * {
    max-width: 1024px;
    margin: 0 auto 40px;
}
.p-programItems p,.p-recommendItems p,.p-items p,
.p-categoryItems.-index p {
    display: none;
}
.page .c-rating__star,
.single .c-rating__star{
    display: flex;
}
.page .c-rating__star > span,
.single .c-rating__star > span {
    padding: 0 2px;
}
.c-table br {
    display: none;
}
.c-table .c-radio input[type="radio"]:disabled + .c-radio__label:before {
    background: #ffffff;
}
.content-wrapper-template {
    max-width: 940px;
    margin: 0 auto 40px;
    padding: 0;
}
/*.p-freeEditBox {*/
    /*padding: 0;*/
/*}*/


.p-amazonBox {
    width: 768px;
}
.p-amazonBox__button img {
    width: 135px;
}
.c-panel__header img {
    width: 108px;
}
/*.p-categoryItems.-index .c-item__title,*/
/*.p-items .c-item__title,*/
/*.p-rankingItems .c-item__title,*/
/*.p-programItems .c-programItem .c-item__title,*/
/*.b-item-list-detail .detail-title {*/
    /*font-size: 1.17em;*/
    /*margin-bottom: 8px;*/
/*}*/

@media (max-width: 864px) {
    .c-item__price strong {
        font-size: 12px;
    }
    .c-item__price {
        font-size: 12px;
    }
    .p-programItems .c-item__title,
    .p-items .c-item__title,
    .p-rankingItems .c-item__title,
    .p-categoryItems .c-item__title {
        font-size: 12px;
        letter-spacing: 0;
    }
    .search .l-double {
        min-height: 100%;
    }

    /*       */
    .p-freeEditBox .c-divider, hr {
        margin: 0 0;
    }
    .c-divider {
        margin: 0 16px;
    }

    .l-main-event .p-programHero {
        width: calc(100% + 32px);
        left: -16px;
        position: relative;
    }

    .l-section-cart-bottom .p-single-btn-bottom-add-cart {
        margin-top: 60px;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .l-youtube-4-3 {
        position: relative;
        width: 100%;
        padding: 75% 0 0 0;
    }

    .l-youtube-4-3 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /*.p-freeEditBox > * {*/
        /*padding: 0 16px;*/
    /*}*/
    /*.entry-description-shortcode .p-mainBuyBox__metas {*/
        /*padding: 0 16px;*/
    /*}*/
    .p-freeEditBox .p-mainBuyBox__double,
    .p-freeEditBox .p-mainBuyBox.short-item,
    .p-mainBuyBox__double {
        display: block;
    }
    .l-single-page #formCart {
        padding: 0 0;
    }
    /*.l-single-page .p-mainBuyBox__metas,*/
    /*.p-mainBuyBox__single {*/
        /*padding: 0 ;*/
    /*}*/
    /*.c-productMeta.c-product-detail {*/
        /*padding: 0 16px 16px;*/
    /*}*/
    .p-buyerProfile__thumbnail > img {
        width: 98px;
        height: 98px;
        top: calc(50% - 49px);
    }
    .c-buyerItem__thumbnail > img {
        width: 64px;
        height: 64px;
        margin-bottom: 0;
        margin-right: 16px;
    }
    .p-buyerProfile__hero {
        padding: 12px 24px;
    }
    .c-sectionTitle {
        font-size: 18px;
    }
    .c-item__title {
        font-size: 14px;
    }
    /*.page .p-freeEditBox {*/
        /*padding: 0;*/
    /*}*/

    .p-buyerProfile__name {
        font-size: 18px;
    }
    .page .p-mainBuyBox__double {
        padding: 0;
    }
    .c-divider {
        margin: 0 16px 24px;
    }
    .p-mainBuyBox.short-item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
    }
    /*.page-template-page-list-program-detail .p-freeEditBox.l-single-page {*/
        /*padding: 0;*/
    /*}*/

    .page-template-page-list-program-detail .p-panelBox,
    .page-template-page-list-program-detail .p-items.-quadruple--lg.-double--md {
        padding: 0 16px;
    }
    .page .c-item__thumbnail {
        margin-bottom: 8px;
        overflow: hidden;
    }
    .p-productThumbnails__slide .swiper-pagination {

    }
   .single .swiper-container-fade .swiper-slide img {
        height: 300px;
    }
    .page.page-template-page-list-program-detail .p-programItems {
        padding: 0 16px;
    }

    .page .p-categoryItems,
    .page  .p-recommendItems,
    .page .p-rankingItems,
    .page .p-programItems,
    .page .p-items,
    .page .p-mainBuyBox__double {
        padding: 0;
    }
    .page .p-programItems
    .page-template-page-list-buyer .p-buyerItems {
        padding: 0 16px 16px;
    }

    .single .p-categoryItems,
    .single  .p-recommendItems,
    .single .p-rankingItems,
    .single .p-programItems,
    .single .p-items,
    .single .p-mainBuyBox__double,
    .single .p-buyerItems {
        padding: 0;
    }
    .l-double__sidebar {
        padding: 0 16px 16px;
    }
    /*.p-mainBuyBox__thumbnails {*/
        /*left: 0;*/
        /*width: 100%;*/
    /*}*/
    .p-mainVisual__button {
        width: 30px ;
        height: 30px ;
    }
    .single .p-mainVisual__button {
        width: 40px;
        height: 40px;
    }
    .single .p-mainVisual__button.-prev {
        left: calc(16px + 16px);
    }
    .p-mainVisual__button svg {
        width: 20px;
        height: 20px;
    }
    .p-single-btn-bottom-add-cart {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .p-amazonBox {
        width: 100%;
        padding: 0;
    }
    .p-amazonBox__button img {
        width: 118px;
    }
    .c-button.-large {
        font-size: 100%;
    }
    .addcart-shortcode .p-single-btn-bottom-add-cart {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .page-rec .nav-header-cart {
        top: -10px !important;
    }
}