
ul , ol {
    list-style-position: inside;
}
.page-template .grid_list.clearfix.grid_list3 br {
    display: none;
}
.clearfix:after{
    clear: both;
    content: "";
    display: block;
    width: 100%;
}


.grid_list > a {
    display: block;
}

.grid_list.clearfix.grid_list2 {
    margin: 0 -10px;
}
.grid_list.clearfix.grid_list3 {
    margin: 0;
}

.page-template .grid_list.clearfix.grid_list3 {
    margin: 0 -15px;
}

.single .grid_list.clearfix.grid_list3 {
    margin: 0 -15px;
}
.p-category-buyer-mv .w-description {
    padding: 0 15px;
}
/*style shortcode card id img*/
/*.addcart-shortcode .p-single-btn-bottom-add-cart.cart-img .c-button.-primary {*/
    /*background: transparent;*/
    /*background-image: url("../img/shortcode/btn100.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: 100%;*/
    /*height: 100px;*/
/*}*/
/*--------------------------*/
/*.short-item .btn-primary.op-disable {*/
    /*border: none;*/
/*}*/
/*!*ADD style css shortcode item*!*/

.short-item br,.p-mainBuyBox br {
    display: none;
}

/*ADD style css shortcode images URL*/
/*.short-img {*/
    /*!*max-width: 680px;*!*/
    /*margin: 25px auto;*/

/*}*/
/*.short-img .short-title {*/
    /*background-color: #1f1f1f;*/
    /*background-image: url(../img/shortcode/logo-abematv.svg);*/
    /*background-repeat: no-repeat;*/
    /*color: transparent;*/
    /*height: 50px;*/
    /*background-position: 5%;*/
    /*margin: 0;*/
    /*text-indent: -99999px;*/
    /*padding: 16px;*/
/*}*/
/*.short-img .thumnail-url {*/
    /*padding: 24px;*/
    /*position: relative;*/
    /*display: block;*/
    /*border: 1px solid #ccc;*/
/*}*/
/*.short-img .img-url {*/
    /*position: relative;*/
    /*height: auto;*/
    /*float: left;*/
    /*max-width: 261px;*/
    /*z-index: 9999;*/
/*}*/
/*.entry-title-short {*/
    /*padding-left: 290px;*/
    /*text-align: left;*/
    /*position: relative;*/
/*}*/
/*.entry-title-link h3 {*/
    /*text-decoration: underline;*/
    /*!*color: #333333;*!*/
    /*font-size: 1.17em;*/
    /*line-height: 1.5;*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
/*}*/

/*.entry-title-link h3:hover {*/
    /*text-decoration: none;*/
/*}*/
/*.entry-title-link h3:hover {*/
    /*opacity: 0.8;*/
    /*color: #33AA22;*/
/*}*/

/*.entry-title-short .title-short {*/
    /*font-size: 15px;*/
    /*color: #757575;*/
/*}*/
.play-button {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/shortcode/play-button.png) no-repeat 50% 0% / 70px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.c-panel__thumbnail {
    position: relative;
}
.p-panelBox {
    padding: 0;
}

.short-datetime span {
    color: #757575;
    font-size: 15px;
}

/**/
.p-amazonBox .p-amazonBox__title {
    font-size: 16px;
    margin-bottom: 8px;
}
.short-amazon {
    /*max-width: 680px;*/
    border: 1px solid #ccc;
    margin: 25px auto;

}
.short-amazon .thumnail-url {
    margin: 15px 25px 10px;
    display: inline-block;
}
.short-amazon .img-url {
    top: 10px;
    height: auto;
    padding-bottom: 0;
    float: left;
    max-width: 160px;
}
.short-amazon .entry-description-short {
    margin-top: 20px;
    text-align: left;
    padding-left: 175px;
}
.short-amazon .url-amazon {
    display: block;
    margin-top: -20px;
    width: 103px;
}

.entry-description-short .title-short {
    margin-bottom: 20px;
    font-size: 15px;
    color: #757575;
}

iframe.wp-embedded-content {
    max-width: 100%;
    width: 100%;
}


/*style shortcode New event*/
.entry-content-event .title.sp-hidden {
    display: none;
}

.application.sp-hidden {
    display: none;
}

.application.sp a:visited {
    color: #51c301;
}

.b-item-list .short-new-event {
    max-width: none !important;
    margin: 0 auto 20px;
    background: #222222;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.single .entry-content .b-item-list {
    padding: 0 ;
}

.single .entry-content .b-item-list img {
    /*     display: block;
     */    margin-left: auto;
    margin-right: auto;
}
.page-simple-bg {
    background: #000;
}
.page-simple-bg .container-inner {
    width: 940px;
    background: #fff;
    margin: 0 auto;
}
.page-simple-bg .width-size-full {
    padding: 0;
}
.page-template .entry-content {
    padding: 0 ;
}
.page-template .entry-content img {
    /*     display: block;
     */    margin-left: auto;
    margin-right: auto;
}


.icon-bottom {

    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 15px solid #222222;
    position: absolute;
    z-index: 99999;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.container-content-single > * {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.b-item-list > * {
    max-width: 940px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.b-item-sub-list {
    position: relative;
}
.p-programHero__footer::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.page-template .grid_list .b-item-list-column-item {
    margin-bottom: 40px;
    width: 25%;
    padding: 0 10px 0 10px;
    float: left;
}

/* Display star ratings */

.star-ratings.start-ratings-main.clearfix {
    margin: 10px 0;
    display: inline-block;
    max-height: 20px;
}

.fa {
    font-size: 15px;
}

.rating {
    color: #FFBD00;
    background: url(../img/shortcode/star-border.png)no-repeat 0 0 / 15px 15px !important;
    display: inline-block;
    width: 15px;
}

.fa-star {
    background: url(../img/shortcode/star.png)no-repeat 0 0 / 15px 15px;
    display: inline-block;
    width: 15px;

}
.fa-star:before {
    background: url(../img/shortcode/star-border.png)no-repeat 0 0 / 15px 15px;
    display: inline-block;
    content: "";
}
.star-ratings .stars {

    text-align: left;
    display: inline-block;

}
.star-ratings .title-rating {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #484848;
    margin-top: -10px;
}
.entry-description-rating {
    font-size: 16px;
    color: #484848;
    line-height: 1.8;
}

#rating-main {
    margin: 10px auto ;
}


@media (max-width: 1000px) {
    .play-button-sp {
        position: absolute;
        top: 50%;
        left: 50%;
        background: url(../img/shortcode/btn-play-top.png) no-repeat;
        width: 190px;
        height: auto;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .play-button-sp .icon-play {
        background: url(../img/shortcode/icon-play.png) no-repeat 17px 15px / 12px 14px;
        color: #fff;
        font-size: 15px;
        line-height: 45px;
        height: 45px;
        text-align: center;
    }
}


@media (max-width: 768px) {
    
    .short-amazon .entry-description-short {
        margin-top: 20px;
        text-align: left;
        padding-left: 110px;
    }
    .short-amazon .img-url img {
        max-width: 100px;
    }
    .short-amazon {
        padding: 0;
    }
    .entry-description-short .title-short {
        margin-bottom: 20px;
    }
    /*     .short-amazon .entry-description-short {
            padding: 0;
        } */
    .short-amazon .title-short {
        display: block;
    }
    .short-img .img-url {
        max-width: 100%;
    }
    .short-img.short-amazon .thumnail-url {
        margin: 20px;
    }
    .short-img {
        padding: 0;
    }
    .short-img .thumnail-url {
        margin: 0;
    }
    .entry-title-link h3 {
        font-size: 16px;
    }
    .entry-title-short {
        max-width: 100%;
        float: left;
        padding-left: 0;
        margin-top: 0;
    }
    .short-img .title-short {
        display: none;
    }
    /*    .single .short-item .p-single-btn-bottom-add-cart {
        margin-right: 0;
        margin-left: 0;
    } */
    .single .short-item .c-select-cart label,
    .page .short-item .c-select-cart label  {
        width: 100%;
        display: flex;
    }
    .page .p-single-btn-bottom-add-cart {
        max-width: 100%;
        padding: 0;
    }
    iframe.wp-embedded-content {
        max-width: 100%;
        width: 100%;
    }


    .single .short-item .p-single-btn-bottom-add-cart,
    .page .short-item .p-single-btn-bottom-add-cart {
        /*margin-top: 60px;*/
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    /*.p-mainBuyBox.short-item, .p-mainBuyBox.cart-item-detail  {*/
        /*padding: 0;*/
    /*}*/
    .short-item .c-sectionTitle {
        margin-bottom: 10px;
        padding: 0;
    }

}


@media (max-width: 641px) {
    .page-template .grid_list .b-item-list-column-item {
        margin-bottom: 40px;
        width: 50%;
        display: inline-block;
        padding: 0 10px 0 10px;
        float: left;
    }
}


