/*ADD style page event hair css*/
/**/
.grid-list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    overflow: hidden;
}

.grid-list > li {
    width: 50%;
    float: left;
    padding: 0 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

/* h2,h3,h4,p {
    margin: 0;
    padding: 0;
} */
.page-hair img {
    width: auto;
    max-width: 100%;
    height: auto;

}
.page-hair {

}
.page-hair #wrapper {
    background: #000000;
    margin: 0 auto;

}
.page-hair .content-wrapper {
    background: #0F0F0F;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.clearfix:after,
.grid-list:after {
    clear: both;
}
.page-hair ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.event-hair .grid-list,.event-kills-hair .grid-list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    overflow: hidden;
}

.event-hair .grid-list > li,.event-kills-hair .grid-list > li {
    width: 50%;
    float: left;
    padding: 0 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.header-main {
    margin: 0 auto;
}
.header-main .container-header-main {
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1200px;
    background-color: #0F0F0F;
}
.header-main .brand {
    overflow: hidden;
    padding-top: 50px;
    position: absolute;
}

.header-main .bg-dark {
    max-width: 940px;
    margin: 0 auto;
}

.header-main .entry-description h3 {
    font-size: 54px;
    margin: 0;
}
.header-main .more-people {
    color: #ffffff;
    font-size: 40px;
    background: url(../img/event-hair/bg-more-people.png) no-repeat 0 0;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

.company-info {
    max-width: 1200px;
    margin: 0 auto;
    background: #164D6B;
    overflow: hidden;
    position: relative;
    padding: 60px 20px 0;

}
.company-info .entry-content {
    max-width: 940px;
    margin: 0 auto 60px;
    background: #EEE9E3;
}

.company-info .entry-content-top .entry-banner-center {
    -webkit-transform: translateY(-4%);
    -moz-transform: translateY(-4%);
    -ms-transform: translateY(-4%);
    -o-transform: translateY(-4%);
    transform: translateY(-4%);
}
.company-info .entry-content-top .title-top {
    font-size: 46px;
    text-align: center;
    color: #062F44;
    margin-bottom: 10px;
}
.company-info .content-banner .thumbnail {
    margin-bottom: 20px;
    position: relative;
}

.company-info .content-banner {
    position: relative;
    padding: 0 40px;
    overflow: hidden;
}

.company-info .container-header {
    max-width: 860px;
    margin: 0 auto;
}
.company-info .content-banner .entry-description {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background:rgba(20, 20, 20, 0.5);
    min-width: 100%;

}
.company-info .content-banner .entry-description p {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}
.company-info .content-banner .text-p {
    font-size: 18px;
    color: #262626;
    margin: 0 0 30px;
}
.event-hair .series-hair .thumbnail img {
    display: block;
}

.event-company .item-event-company {
    max-width: 360px;

}
.content-banner .event-company,.content-banner .event-company-p {
    background: #fff;
    overflow: hidden;
    max-height: 290px;
    margin-bottom: 30px;
}

.event-company .description {
    float: left;
    width: 500px;
    padding:0 25px;
    box-sizing: border-box;
}

.event-company .description h3, .event-company-p .description h3 {
    font-size: 20px;
    color: #007E6D;
    font-weight: 400;
    margin: 10px 0;
}

.event-company .description li {
    color: #221E1A;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;

}

.event-company .description li span {
    padding-left: 10px;
}
.alphabetical {
    font-size: 14px;
    padding-left: 40px;
    margin: 3px 0;
}
.event-company-p .description p {
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
}
.event-company-p {
    padding:20px 25px;
}


.event-hair {
    background: #0F0F0F;
    max-width: 1200px;
    margin: 0 auto 60px;
    /*padding-top: 12%;*/
}
.event-hair .entry-content-hair {
    max-width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
}

.event-hair .series-hair .entry-description p {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}
.event-hair .series-hair .entry-description {

    padding: 28px 0 28px 240px;
}

.event-hair .series-hair-detail {
    padding: 60px 30px 0;
    border: 11px solid #00B9F8;
    margin-bottom: 50px;
}
.event-hair .series-hair-detail h2 {
    color: #00B9F8;
    font-size: 100px;
    margin: 0;
}
.event-hair .series-hair-detail h2 span {
    color: #00B9F8;
    font-size: 130px;
    margin: 0;
    display: block;
}
.event-hair .series-hair-detail h3 {
    font-size: 54px;
    color: #ffffff;
    margin: 40px 0 30px;
}

.event-hair .series-hair-detail .entry-description p {
    color: #ffffff;
    font-size: 28px;
    margin: 0 0 40px;
}

.event-hair .series-hair-detail .thumbnail,.event-kills-hair .content-kills-hair .thumbnail {
    margin-bottom: 10px;
}

.event-hair .series-hair-detail .entry-p,.event-kills-hair .content-kills-hair .entry-p {
    font-size: 21px;
    color: #ffffff;
}

.event-hair .chance-hair h2 {
    color: #FF9E02;
    font-size: 50px;
    text-align: center;
    display: inline-block;

}
.event-hair .chance-hair h2 span {
    color: #363636;
    font-size: 20px;
    background: #FF9E02;
    border-radius: 20px;
    padding: 10px;
    vertical-align: middle;
}

.event-hair .chance-hair h3 {
    font-size: 90px;
    color: #FF9E02;
    margin-bottom: 10px;
    text-align: center;
}
.event-hair .chance-hair .description .description-p {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin: 0 0 30px;

}
.event-hair .chance-hair .description .description-p span {
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    position: relative;
    padding: 10px 0;
}

.event-hair .chance-hair .description .description-p span:before {
    content:"";
    display:block;
    position:absolute;
    left:0;
    bottom:5px;
    width:100%;
    height:2px;
    background:#ffffff;
}
.event-hair .chance-hair .description p {
    font-size: 16px;
    text-align: center;
    color: #cccccc;
}


.buy-sales {
    max-width: 940px;
    margin: 0 auto;
    background: #0F0F0F;
}


.buy-sales .product-detail {
    background: #ededed;
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden;
}


.container-product-item {
    max-width: 940px;
    margin: 0 auto;
    background: #EDEDED;
    overflow: hidden;
    padding-top: 60px;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
}
.container-product-item .product-item {
    max-width: 850px;
    margin: 0 auto ;
    overflow: hidden;
}

.item {
    margin-bottom: 40px;
    background: #ffff;
    position: relative;
    border-radius: 10px;

}


.container-product-item .product-item .apply-item-product {
    background: rgba(3,174,149,100);
    color: #ffffff;
    font-size: 44px;
    font-weight: bold;
    display: block;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    background-image: url(../img/event-hair/icon-apply.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    margin-bottom: 65px;
    width: 850px;
    cursor: pointer;
    border: none;

}


.container-product-item .container-item-product {
    list-style: none;
    margin: 0 -10px 40px;
    padding: 0;
}

.container-product-item .item-product-small {
    width: 50%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}
.item-product-small img {
    margin-bottom: 40px;
}

.item-product-small .apply-item-product-detail {
    background: rgba(3,174,149,100);
    color: #ffffff;
    font-size: 44px;
    font-weight: bold;
    height: 120px;
    border-radius: 20px;
    text-decoration: none;
    background-image: url(../img/event-hair/icon-apply.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    line-height: 120px;
    width: 415px;
    cursor: pointer;
    border: none;
}

.cancel-after p {
    max-width: 940px;
    margin: 20px auto 0;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    padding: 0 20px 60px;
}

.post-media {
    background: #3E3C42;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    overflow: hidden;
}
.post-media img {
    margin-bottom: 20px;
}

.post-media .content-post-media {
    max-width: 940px;
    margin: 0 auto;
}

.content-customer-voice .title-media {
    background: #ffffff;
    color: #00A78E;
}

.content-customer-voice .title-media:before{
    top: 0;
    left: 0;
    border-width: 45px 0px 45px 15px;
    border-color: transparent transparent transparent #00A78E;
    border-style: solid;
}

.content-customer-voice .title-media:after{
    top: 0;
    right: 0;
    border-width: 45px 15px 45px 0px;
    border-color: transparent #00A78E transparent transparent;
    border-style: solid;
}


.title-media {

    display: inline-block;
    position: relative;
    height: 90px;/*リボンの高さ*/
    line-height:90px;/*リボンの高さ*/
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;/*横の大きさ*/
    font-size: 48px;/*文字の大きさ*/
    background: #007E6D;/*塗りつぶし色*/
    color: #FFF;/*文字色*/
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 40px;
    font-weight: bold;
}

.title-media:before, .title-media:after{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

.title-media:before{
    top: 0;
    left: 0;
    border-width: 45px 0px 45px 15px;
    border-color: transparent transparent transparent #3E3C42;
    border-style: solid;
}

.title-media:after{
    top: 0;
    right: 0;
    border-width: 45px 15px 45px 0px;
    border-color: transparent #3E3C42 transparent transparent;
    border-style: solid;
}
/**/

.grid-item-main {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.grid-item-main li {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.grid-item-main img {
    height: 100%;
}
.event-kills-hair {
    background: #0F0F0F;
    max-width: 1200px;
    margin: 0 auto 60px;
    padding: 60px 20px 0;
}

.event-kills-hair .content-kills-hair {
    max-width: 940px;
    position: relative;
    margin: 0 auto;

}
.event-kills-hair .entry-content-kills {
    padding: 40px 30px 0;
    border: 11px solid #ED001A;
    margin-bottom: 50px;
}
.content-kills-hair .entry-content-kills h2 {
    font-size: 100px;
    color: #ED001A;
    text-align: center;
    padding: 0 50px;
    line-height: 1.2;
    margin: 30px 0;
}
.content-kills-hair .entry-content-kills h2 span {
    color: #ffffff;
    font-size: 80px;
}

.content-kills-hair .entry-content-kills p {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 40px;
}

.event-kills-hair .title-kills-detail {
    padding: 50px 30px;
    border: 11px solid #00B9F8;
    margin-bottom: 50px;
}

.title-kills-detail h2 {
    font-size: 50px;
    color: #00B9F8;
}
.title-kills-detail h2 span {
    color: #ffffff;
}
.title-kills-detail h3 {
    font-size: 100px;
    color: #ffffff;
}

.entry-content-ask-energy.content-fgf-60 {
    border: none;
}
.title-kills-detail .entry-description-kills {
    /*float: left;*/
    line-height: 1.2;
    letter-spacing: -5px;
    width: 80%;
}
.title-kills-detail .thumbnail-kills {
    position: absolute;
    right: -25px;
    top: 30%;
    width: 25%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title-kills-detail li p {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 30px;
    padding-left: 100px;
}
.title-kills-detail li span {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #ffffff;
    color: #000000;
    width: 68px;
    height: 68px;
    float: left;
    text-align: center;
    line-height: 68px;
    font-size: 36px;
}
.title-kills-detail .entry-title-kills-detail {
    margin-bottom: 60px;
    position: relative;
}
.number-kills-detail {
    position: relative;
    z-index: 9;
}

.content-ask-hair {
    max-width: 1200px;
    margin: 0 auto;
    background: #164D6A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.content-ask-hair .container-ask-energy {
    max-width: 940px;
    margin: 0 auto;
}
.entry-content-ask-energy {
    background: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    border-bottom: 5px solid #164D6A;
}
.banner-top-energy {
    -webkit-transform: translateY(4%);
    -moz-transform: translateY(4%);
    -ms-transform: translateY(4%);
    -o-transform: translateY(4%);
    transform: translateY(4%);
}
.content-ask-energy-detail {
    padding: 0 45px;
    overflow: hidden;
}
.container-energy-detail {

    /*margin-bottom: 20px;*/
    overflow: hidden;
}

.thumbnail-energy-detail {
    width: 21%;
    display: inline-block;

}
.thumbnail-energy-detail img {
    display: block;
    margin-bottom: 10px;
}
.thumbnail-energy-detail span {
    font-size: 14px;
    color: #000000;
    text-align: left;
}
.description-energy-detail {
    float: left;
    width: 79%;
    text-align: left;
    padding-right: 50px;
    box-sizing: border-box;
}

.entry-content-ask-energy.content-fgf-10 .description-energy-detail,.entry-content-ask-energy.content-fgf-60 .description-energy-detail  {
    float: left;
    width: 70%;
    text-align: left;
    padding-right: 20px;
    box-sizing: border-box;
}

.entry-content-ask-energy.content-fgf-10 .thumbnail-energy-detail,.entry-content-ask-energy.content-fgf-60 .thumbnail-energy-detail {
    width: 30%;
    display: inline-block;
}

.description-energy-detail h3 {
    font-size: 24px;
    color: #BD5168;
    font-weight: 400;
    margin-bottom: 10px;
    border-bottom: 1px solid #bd5168;
    padding-bottom: 10px;
}
.description-energy-detail h3 span {
    background: #BD5168;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: left;
    text-indent: 9999px;
    margin-right: 10px;

}
.entry-description-energy-detail span {
    color: #221E1A;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.entry-description-energy-detail {
    padding-top: 10px;
}
.thumbnail-chart {
    float: left;
}

.chart-energy ul {
    padding-left: 260px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}
.chart-energy {
    overflow: hidden;
    margin-bottom: 40px;
}

.chart-energy ul li {
    /*overflow: hidden;*/
}

.entry-ask-energy-detail {
    max-width: 752px;
    margin: 0 auto;
}

.item-energy-detail .thumbnail {
    float: left;
}
.item-energy-detail .entry-description {
    padding-left: 460px;
    line-height: 1.8;
    font-size: 18px;
    color: #262626;
}
.item-energy-detail.clearfix {
    overflow: hidden;
    margin-bottom: 20px;
}
.img-item-hair .img-item-left {
    float: left;

}
.img-item-hair.clearfix {
    width: 800px;
    margin: 0 auto 20px;
    overflow: hidden;
}

.chart-content-img {
    -webkit-transform: translateY(-6%);
    -moz-transform: translateY(-6%);
    -ms-transform: translateY(-6%);
    -o-transform: translateY(-6%);
    transform: translateY(-6%);
    margin-bottom: 60px;
}

.thumbnail-ask-energy {
    margin-bottom: 40px;
    padding: 0 20px;
}
.description-energy-detail.function {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.img-content-bottom {
    padding: 20px;
    border: 1px solid #BD5168;
    margin: 0 auto 40px;
}
.img-content-bottom.grid-hair {
    padding: 20px 0;
    border: 1px solid #BD5168;
    width: 768px;
    margin: 0 auto 40px;
}
.img-content-bottom.grid-hair h3 {
    color: #BD5168;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;

}

.img-content-main-bottom {
    border: 1px solid #AEA181;
    padding: 10px 0;
    margin-bottom: 40px;
}

.entry-ideal-hair {
    padding: 40px;
}
.entry-ideal-hair .content-ideal-hair {
    border: 1px solid #0F604F;
    padding: 40px 40px 20px;
}
.entry-ideal-hair .content-ideal-hair h2 {
    color: #026150;
    font-size: 40px;
    border-bottom: 5px solid #026150;
    max-width: 610px;
    margin: 0 auto 20px;
    padding-bottom: 10px;
}
.entry-ideal-hair .content-ideal-hair p {
    color: #262626;
    font-size: 20px;
    margin-bottom: 20px;
}
.thumbnail-ideal img {
    margin-bottom: 10px;
}


.customer-voice {
    max-width: 1200px;
    margin: 0 auto;
    background: #00A78E;
    padding: 0 20px 60px;
}
.content-customer {
    margin: 0 auto;
    max-width: 1200px;
    padding:50px 0 60px;
    background: #00A78E;
}
.content-customer-voice {
    margin: 0 auto;
    max-width: 940px;
}

.item-customer {
    background: #fff;
    border-radius: 30px;
    max-width: 940px;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 90px;
}

.content-customer-voice p {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 30px;
}

.content-customer-voice h3 {
    color: #ffffff;
    font-size: 41px;
    text-align: center;
    margin-bottom: 40px;
}

.item-customer.empty {
    min-height: 689px;
    margin-bottom: 0;
}
.container-before-after {
    max-width: 1200px;
    margin: 0 auto;
    background: #F0F0F0;
}
.container-before-after .title-before-after {
    background: url(../img/event-hair/img-title-custom-bottom.png) no-repeat 0 0;
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 0;
}
.entry-content-before-after {
    max-width: 940px;
    margin: 0 auto;
    padding: 60px 0;
}

.component {
    max-width: 1200px;
    margin: 0 auto;
    background: #000000;
    text-align: center;
}
.component h2 {
    color: #ffffff;
    font-size: 55px;
    padding: 440px 395px;}
.question {
    max-width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    margin-bottom: 60px;
}
.entry-question {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 100px;
}

.entry-question h2 {
    color: #062F44;
    font-size: 46px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
}
.entry-question p {
    color: #262626;
    font-size: 22px;
    letter-spacing: 2px;

}


@media (max-width: 900px) {
    .header-main .brand {
        padding-left: 90px;
    }
    .header-main .container-header-main {
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto 20px;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        height: auto;
        background-size: cover;

    }
    .header-main .brand {
        padding-top: 0;
        position: relative;
        background: #000;
    }
    .header-main .bg-dark {
        margin: 5px auto;
    }

    .header-main .entry-description h2, .header-main .entry-description h3 span {
        font-size: 25px;
    }
    .header-main .entry-description h3 {
        font-size: 30px;
    }
    .header-main .entry-description {
        padding: 0 20px;
    }
    .header-main .more-people {
        padding: 0 20px;
        font-size: 20px;
    }

    .company-info .entry-content-top .title-top {
        font-size: 30px;
    }
    .company-info .content-banner .entry-description p {
        font-size: 12px;
        font-weight: bold;
        padding: 4px 10px;
    }
    .company-info .content-banner .text-p {
        font-size: 16px;
    }
    .event-company .description {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 40px;
        padding-top: 20px;
    }
    .content-banner .event-company, .content-banner .event-company-p {
        max-height: 100%;
    }
    .event-company .item-event-company {
        max-width: 100%;
        margin: 0 auto 30px;
        display: block;
    }
    .event-hair .entry-content-hair {
        padding:0 20px;
    }

    .event-hair .series-hair h2 {
        font-size: 40px;
    }
    .event-hair .series-hair h2 span {
        font-size: 30px;
    }
    .event-hair .series-hair h3 {
        font-size: 26px;
    }
    .event-hair .series-hair .entry-description {
        padding: 28px 0 28px 200px;
    }
    .event-hair .series-hair-detail h2 {
        font-size: 50px;
    }
    .event-hair .series-hair-detail h2 span {
        font-size: 60px;
    }
    .event-hair .series-hair-detail h3 {
        font-size: 40px;
    }
    .event-hair .series-hair-detail .entry-description p {
        font-size: 24px;
    }
    .event-hair .series-hair-detail .entry-p, .event-kills-hair .content-kills-hair .entry-p {
        font-size: 18px;
    }
    .event-hair .chance-hair h2 {
        font-size: 30px;
    }
    .event-hair .chance-hair h2 span {
        font-size: 16px;
    }
    .event-hair .chance-hair h3 {
        font-size: 45px;
    }
    .event-hair .chance-hair {
        padding: 0;
    }

    .product-item .thumbnail-item {
        float: left;
        max-width: 320px;
    }
    .product-item .description-item {
        padding-left: 330px;
        min-height: 432px;
    }
    .container-product-item {
        padding: 30px 20px 0;
    }

    .container-product-item .product-item .apply-item-product {
        font-size: 20px;
        height: 80px;
        line-height: 80px;
    }

    .apply-item-product-detail {
        height: 80px;
        line-height: 80px;
    }
    .cancel-after p {
        font-size: 16px;
    }
    .post-media .content-post-media .title-media {
        background-size: 100% 100%;
        font-size: 26px;
    }
    .grid-item-main {
        margin: 0 auto;
    }
    .grid-item-main li {
        width: 100%;
    }
    .event-kills-hair {
        padding: 60px 20px 0;
    }
    .content-kills-hair .entry-content-kills h2 {
        font-size: 50px;
    }
    .content-kills-hair .entry-content-kills h2 span {
        font-size: 40px;
    }
    .content-kills-hair .entry-content-kills p {
        font-size: 24px;
    }
    .title-kills-detail h2,.title-kills-detail h2 span {
        font-size: 25px;
    }
    .title-kills-detail h3 {
        font-size: 50px;
        letter-spacing: 3px;
    }
    .title-kills-detail li p {
        font-size: 20px;
        padding-left: 60px;
    }
    .title-kills-detail li span {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background: #ffffff;
        color: #000000;
        width: 40px;
        height: 40px;
        float: left;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
    }
    .thumbnail-energy-detail {
        width: 100%;
        margin-bottom: 20px;
    }
    .description-energy-detail {
        width: 100%;
        margin-bottom: 20px;
    }
    .thumbnail-energy-detail img {
        display: block;
        margin: 0 auto 10px;
    }
    .thumbnail-chart {
        width: 100%;
    }
    .chart-energy ul {
        width: 100%;
        transform: unset;
        padding-left: 0;
    }
    .chart-energy {
        margin-bottom: 40px;
    }
    .item-energy-detail .thumbnail {
        width: 100%;
    }
    .item-energy-detail .entry-description {
        padding-left: 0;
        font-size: 16px;
    }
    .img-item-hair .img-item-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .img-item-hair.clearfix {
        width: 100%;
    }
    .entry-content-ask-energy.content-fgf-10 .description-energy-detail, .entry-content-ask-energy.content-fgf-60 .description-energy-detail {
        width: 100%;
    }
    .description-energy-detail.function {
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        transform: unset;
    }
    .description-energy-detail h3 {
        font-size: 16px;
    }
    .img-content-bottom.grid-hair h3 {

    }
    .img-content-bottom.grid-hair .grid-list > li {
        width: 100%;
    }
    .img-content-bottom.grid-hair h3 {
        font-size: 20px;
    }
    .img-content-bottom.grid-hair {
        width: 100%;
    }
    .entry-ideal-hair .content-ideal-hair h2 {
        font-size: 20px;
    }
    .entry-ideal-hair .content-ideal-hair p {
        font-size: 16px;
    }
    .entry-ideal-hair {
        padding: 20px;
    }
    .content-ask-energy-detail {
        padding: 0 20px;
    }
    .content-customer-voice .title-customer {
        background-size: 100% 100%;
        font-size: 30px;
    }
    .content-customer-voice {

        padding: 50px 30px;
    }
    .content-customer-voice p {
        font-size: 18px;
    }
    .item-customer {
        padding: 30px 20px;
    }
    .content-customer-voice h3 {
        font-size: 20px;
    }
    .item-customer.empty {
        min-height: 300px;
    }
    .container-before-after .title-before-after {
        background-size: 100% 100%;
        font-size: 30px;

    }
    .entry-content-before-after {
        padding: 60px 30px;
    }
    .component h2 {
        font-size: 30px;
        padding: 200px 150px;
    }
    .entry-question h2 {
        font-size: 24px;
    }
    .entry-question p {
        font-size: 18px;
    }
    .question {
        padding: 0 30px;
    }

    .post-media {

        padding: 30px 20px 0;
    }

    .grid-item-main img {
        display: block;
        margin: 0 auto 30px;
    }
    .company-info .entry-content-top {
        padding: 0 !important;
    }
    .container-product-item .product-item .apply-item-product {
        margin-bottom: 30px;
        width: 100%;
    }
    .item-product-small .apply-item-product-detail {
        font-size: 30px;
        height: 80px;
        line-height: 80px;
        width: 100%;
    }
}
@media (max-width: 700px) {
    .product-item .thumbnail-item {
        float: left;
        max-width: 100%;
    }
    .product-item .description-item {
        padding: 0 30px;
    }
    .product-item .description-item ul {
        position: relative;
    }
}

@media (max-width: 450px) {
    .product-small .apply-item-product-detail {
        font-size: 18px;
        line-height: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .grid-item-main img {
        height: auto;
    }

    .header-main .entry-description h2, .header-main .entry-description h3 span {
        font-size: 20px;
    }
    .header-main .entry-description h3 {
        font-size: 25px;
    }
    .header-main .brand {
        padding-left: 20px;
    }
    .header-main .more-people {
        padding: 0 20px;
        font-size: 14px;
        line-height: 50px;
    }
    .event-company .description {
        width: 100%;
        margin-bottom: 20px;
        padding : 0 10px;
        padding-top: 20px;
    }
    .event-company .description h3, .event-company-p .description h3 {
        font-size: 14px;
        margin: 0 0 10px;
    }
    .company-info .entry-content-top .title-top {
        font-size: 20px;
    }
    .company-info .content-banner .text-p {
        font-size: 14px;
    }
    .event-company .description li {
        font-size: 12px;
    }
    .alphabetical {
        font-size: 12px;
    }
    .event-company-p .description p {
        font-size: 14px;
    }
    .event-hair .series-hair-detail h2 {
        font-size: 26px;
    }
    .event-hair .series-hair-detail h2 span {
        font-size: 35px;
    }
    .event-hair .series-hair-detail h3 {
        font-size: 26px;
    }
    .event-hair .series-hair-detail .entry-description p {
        font-size: 18px;
    }
    .event-hair .series-hair-detail .entry-p, .event-kills-hair .content-kills-hair .entry-p {
        font-size: 14px;
    }
    .event-hair .chance-hair h2 {
        font-size: 20px;
    }
    .event-hair .chance-hair h2 span {
        font-size: 14px;
    }
    .event-hair .chance-hair h3 {
        font-size: 20px;
    }
    .event-hair .chance-hair {
        padding: 0;
    }
    .event-hair .chance-hair .description p {
        font-size: 14px;
    }

    .product-item .thumbnail-item {
        float: left;
        max-width: 100%;
    }
    .product-item .description-item {
        padding: 0 20px;
    }
    .container-product-item .product-item .apply-item-product {
        font-size: 16px;
        line-height: 60px;
        height: 60px;
        width: 100%;
    }

    .post-media .content-post-media .title-media,.content-customer-voice .title-media {
        font-size: 16px;
        height: 50px;
        line-height: 50px;

    }
    .title-media:before {
        top: 0;
        left: 0;
        border-width: 25px 0px 25px 15px;
        border-color: transparent transparent transparent #3E3C42;
        border-style: solid;
    }
    .title-media:after {
        top: 0;
        right: 0;
        border-width: 25px 15px 25px 0px;
        border-color: transparent #3E3C42 transparent transparent;
        border-style: solid;
    }

    .content-customer-voice .title-media:before {
        top: 0;
        left: 0;
        border-width: 25px 0px 25px 15px;
        border-color: transparent transparent transparent #00A78E;
        border-style: solid;
    }

    .content-customer-voice .title-media:after {
        top: 0;
        right: 0;
        border-width: 25px 15px 25px 0px;
        border-color: transparent #00A78E transparent transparent;
        border-style: solid;
    }

    .content-kills-hair .entry-content-kills p {
        font-size: 18px;
    }
    .content-kills-hair .entry-content-kills h2 span {
        font-size: 20px;
    }
    .content-kills-hair .entry-content-kills h2 {
        font-size: 26px;
    }
    .img-content-bottom.grid-hair h3 {
        font-size: 16px;
    }
    .component h2 {
        font-size: 30px;
        padding: 200px 100px;
    }
    .title-kills-detail li p {
        font-size: 16px;
    }
    .title-kills-detail h3 {
        font-size: 30px;
    }
    .title-kills-detail h2, .title-kills-detail h2 span {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .content-customer-voice .title-customer {

        line-height: 20px;
    }
    .container-before-after .title-before-after {
        /*padding: 0;*/
        line-height: 20px;
    }
    .event-kills-hair .entry-content-kills {
        padding: 20px 30px 0;
    }
    .event-kills-hair .title-kills-detail {
        padding: 20px 30px;
    }
    .event-kills-hair {
        padding: 60px 20px 0;
        margin-bottom: 0;
    }
    .apply-item-product-detail {
        color: #ffffff;
    }
    .event-hair .series-hair .thumbnail {
        width: 100%;
        position: relative;
        text-align: center;
    }
    .event-hair .series-hair .entry-description {
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
    }
    .event-hair .series-hair .thumbnail img {

        display: inline-block;
    }
    .event-hair .series-hair .entry-description p {
        font-size: 20px;
    }
    .item-product-small .apply-item-product-detail {
        font-size: 20px;
        height: 60px;
        line-height: 60px;
        width: 100%;
    }
    .container-product-item .item-product-small {
        width: 100%;
    }
}
