

/*ADD style page html css*/
.sp {
    display: none;
}

.page-rec #main {
    margin-bottom: 80px;
}
.page-rec .btn-primary {
    width: 100%;
}
.page-rec .content_wrapper {
    padding: 95px 42px;
}
.page-rec .grid-list {
    list-style: none;
    margin: 0 -10px;
    padding: 9px 0;
    max-width: 550px;
    overflow: hidden;
}

.page-rec .grid-list > li {
    width: 25%;
    float: left;
    padding: 0 10px;
    margin-bottom: 40px;
}
.grid_list_purchase {
    padding: 0 20px;
    width: 40%;
    float: left;
    padding-left: 40px;
}
.grid_list_purchase li {
    width: 33.33%;
    float: left;
    padding: 0 10px;
    margin-bottom: 0;
}

.page-rec ul {
    list-style: none;
}
.page-rec .grid-list li {
    list-style: none;
}
.page-rec {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #000;
}
#header .container-header {
    max-width: 1440px;
    overflow: hidden;
    background-image: url(../img/coffee/bg-header.png);
    margin: 0 auto;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    /*position: relative;*/
    height: 540px;
    margin-bottom: 80px;
}

.page-rec #header .brand {
    overflow: hidden;
    padding-left: 40px;
    padding-top: 25px;
    position: absolute;
}

.brand .logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.bg-dark {
    position: relative;
}

.brand .logo a {
    /*  display: block;
     text-indent: -99999px;
     width: 155px;
     height: 41px;
     background: url("../img/coffee/logo.png") no-repeat 0 0; */
}
.page-rec .nav-header-cart {
    position: absolute;
    top: 0;
    right: 0;
    height: 28px;
    width: 112px;
    margin-top: 30px;
}
.page-rec .nav-header-cart a {
    background: 0 0;
    border: none;
    margin-right: 1em;
}

#header .title {
    font-size: 75px;
    color: #fff;
    margin: 0 auto 28px;
    font-weight: 500;
    letter-spacing: 3px;
}
#header .title span {
    font-size: 50px;
    display: block;
    letter-spacing: -1px;

}
.info-rec {
    max-width: 100%;
    margin: 0 auto;
}
.page-rec .info-rec .thumbnail {
    width: 44%;
    display: inline-block;
}
.page-rec .info-rec .thumbnail img {
    width: 100%;
}
/* .page-rec .content-detail .thumnail img {
    width: 100%;
} */
.info-rec .title {
    font-size: 40px;
    color: #333;
    font-weight: 500;
    margin: 40px 0 0 12px;
}
.info-rec .title-small {
    font-size: 20px;
    font-weight: 500;
    line-height: 0;
}
.page-rec .main-content {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.page-rec .content-main-rec {
    max-width: 1080px;
    overflow: visible;
    position: relative;

}
.page-rec .entry-content {
    margin: 0 ;
    padding: 0;
}
/* .content-detail .thumnail img {
    width: 100%;
} */
.info-rec .entry-description p {
    margin-left: -2px;
    margin-top: 18px;
    line-height: 1.8;
}
.page-rec .entry-description {
    float: left;
    font-size: 16px;
    color: #333333;
    line-height: 2;
    padding: 20px 30px 0 14px;
    width: 56%;
}
.content-main-rec .title {
    font-size: 40px;
    color: #333;
    font-weight: 500;
    margin: 55px 10px 40px;
}

.content-detail {
    background-color: #F7F7F7;
    list-style: none;
    margin-bottom: 40px;
    padding: 20px 0;
    /*margin-left: 20px;*/


    /*padding: 50px;*/
}
.content-detail .icon-img {
    position: absolute;
    -webkit-transform: translate(10%,-35%);
    -moz-transform: translate(10%,-35%);
    -ms-transform: translate(10%,-35%);
    -o-transform: translate(10%,-35%);
    transform: translate(10%,-35%);
}
.content-detail .thumnail {
    width: 24%;
    float: left;
    margin-left: 44px;
    padding-top: 75px;

}

.content-detail .description {
    width: 35%;
    float: left;
    padding: 0 20px;
}
.entry-detail {
    font-size: 13px;
    color: #333333;
    line-height: 1.9;
}
.title-content {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}
.list-content {
    list-style: none;
    /*max-width: 1040px;*/
    padding: 0;
    overflow: hidden;
    margin: 0 -20px;
    /*position: relative;*/

}
.list-content .list-detail {
    padding: 50px 20px 20px;
    background: #F7F7F7;
    margin-bottom: 40px;
}
.list-detail .thumnail {
    width: 100%;
    padding-top: 35px;
    text-align: center;
    padding-bottom: 20px;
}
.container-list {
    padding: 0 20px;
    float: left;
    max-width: 33.3%;
    /*     margin-bottom: 30px;
        margin-top: -30px; */
}
.container-list table {
    font-size: 12px;
    color: #757575;
    padding: 20px 0;
}
.list-description {
    color: #333;
    font-size: 13px;
    text-align: left;
}
.title-purchase {
    font-size: 26px;
    color: #333333;
    margin: 10px 0 40px;
    text-align: center;
}
.purchase-from {
    text-align: center;
    margin: 40px 0 80px;
}

.purchase-from img {
    display: block;
    margin: 0 auto 20px;

}
.purchase-from .bg-img-bottom {

    max-width: 100%;
}
.page-template .entry-content .grid_list_purchase img {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 100px;*/
}

.purchase-from span {
    font-size: 26px;
    color: #333333;
    display: block;
    margin-bottom: 40px;
}

.purchase-from .apply-purchase {
    /*background: #000000;*/
    font-size: 18px;
    padding: 15px 70px;
    color: #ffffff;
    text-decoration: none;
    line-height: 2.8;
}
.icon-text {
    position: absolute;

    -webkit-transform: translate(10%,-20%);
    -moz-transform: translate(10%,-20%);
    -ms-transform: translate(10%,-20%);
    -o-transform: translate(10%,-20%);
    transform: translate(10%,-20%);

}
.icon-text2 {
    position: absolute;
    -webkit-transform: translate(10%,-20%);
    -moz-transform: translate(10%,-20%);
    -ms-transform: translate(10%,-20%);
    -o-transform: translate(10%,-20%);
    transform: translate(10%,-20%);

}

.info-new {
    border: 1px solid #8b8b8b;
    overflow: hidden;
    padding: 40px;
    max-width: 100%;
}
.info-new .thumnail {
    background: #000000;
    width: 34%;
    /*  padding: 60px 40px; */
    float: left;
}
.info-new .thumnail img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.content-new {
    width: 60%;
    float: right;
    font-size: 13px;
    line-height: 2;
}
.content-new h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}
.bg-img-bottom {
    float: left;
}

.page-rec .p-single-btn-bottom-add-cart {
    margin-top: 60px;
    padding-left: 0;
    padding-right: 0;
    width: 212px;
    height: 47px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 992px) {
    .page-rec .entry-content {

        padding: 0 !important;
    }
    .sp-hidden {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
    .page-rec .grid-list > li {
        padding: 0;
    }
    .page-rec .bg-dark {
        background: #000000 !important;
        padding: 5px 0;
    }
    .page-rec .content_wrapper {
        padding: 45px 20px 25px;
    }
    #header .container-header {
        max-width: 100%;
        overflow: hidden;
        background-image: url(../img/coffee/sp/bg-header-sp.png);
        margin: 0 auto 20px;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        height: auto;
    }
    .page-rec #header .brand {
        overflow: hidden;
        padding-left: 20px;
        padding-top: 0;
        position: relative;
    }

    .page-rec .nav-header-cart {
        position: absolute;
        top: 0;
        right: 0;
        height: 28px;
        width: 100px;
        margin-top: 20px;
    }

    #header .title {
        font-size: 35px;
        margin: 0 auto 30px;
    }
    #header .title span {
        font-size: 25px;
        display: block;
    }

    .page-rec .grid-list {
        max-width: 317px;
        margin: 0;
    }
    .item-header .thumbnail img {
        width: 65px;
    }
    .info-rec .title {
        font-size: 24px;
        color: #333;
        margin: 0 0 10px 0;
    }
    .page-rec .info-rec .thumbnail {
        width: 100%;
    }

    .info-rec .title-small {
        font-size: 16px;
        line-height: 0;
        margin-bottom: 20px;
    }
    .list-content {
        margin: 0 -20px;
    }
    .container-list {
        padding: 0 20px;
    }
    .page-rec .thumbnail {
        width: 100%;
    }
    .page-rec .entry-description {
        padding: 0;
        font-size: 14px;
        margin-top: 20px;
        width: 100%;
    }
    .content-main-rec .title {
        font-size: 24px;
    }
    .content-detail .description {
        width: 100%;
        padding: 0 20px;
    }
    .content-detail .thumnail {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 40px 0 20px;
    }
    .info-rec img {
        width: 100%;
    }
    .container-list {
        max-width: 100%;
        width: 100%;
    }
    .list-detail .thumnail {
        width: 100%;
        padding-top: 0;
        margin: 20px 0;
    }
    .list-detail .thumnail img {
        margin: 0 auto;
    }
    .title-purchase {
        font-size: 16px;
    }
    .purchase-from span {
        font-size: 18px;
    }
    .content-detail {
        margin-left: 0;
    }
    .content-main-rec .title {
        margin: 20px 0;
    }
    .content-detail .icon-img {
        position: absolute;
        -webkit-transform: translate(10%,-42%);
        -moz-transform: translate(10%,-42%);
        -ms-transform: translate(10%,-42%);
        -o-transform: translate(10%,-42%);
        transform: translate(10%,-42%);


    }

    .info-new {
        padding: 20px;
        max-width: 100%;
    }
    .info-new .thumnail {
        width: 100%;
        /*         padding: 55px 20px;
         */        margin-bottom: 20px;
    }
    .content-new {
        width: 100%;
        font-weight: 500;
    }
    .purchase-from img {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;

    }
    .purchase-from .bg-img-bottom {
        width: 100%;
    }
    .grid_list_purchase {
        padding: 0 20px;
        width: 100%;
        float: left;
    }
    .grid_list_purchase li {
        width: 25%;
        padding: 0 5px;
    }
    .purchase-from {
        text-align: center;
        margin: 0 0 40px;
        line-height: 1.9;
    }
    .purchase-here {
        margin-bottom: 20px;
    }
}

/*
*/



