/*
追加でCSSを記述する場合はこのファイルをお使いください。
※このファイル以外でCSSを変更しないでください。ここに追加
※このファイル以外でCSSを変更しないでください。
*/

/*Add style css theme*/

.btn-primary.op-disable {
    cursor: default;
    background: #eee;
    border: 1px solid #eee;
}

.c-select-cart label {
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
    width: 100%;
    display: inline-block;
}
/*.single .item-detail-pattern label.js-get-cart-url select {*/
    /*border: 2px solid #ccc;*/
/*}*/



/* add custom style css */
/*style custom widget title page single*/
.container-header-single {
    margin-bottom: 10px;
    padding: 8px 18px 0 18px;
}
.single .w-title-post a {
    color: #ffffff;
    font-weight: 400;
}
/*.w-title-post {*/
    /*padding: 10px;*/
/*}*/
.title-description-post {
    background-color: #222222;
}

.w-title-post li {
    list-style-type: none;
}
.container {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
}
.navbar>.container, .navbar>.container-fluid {
    display: initial;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.category .p-category-buyer-mv .b-buyer-list .b-buyer-list-bottom .w-description .description {
    font-weight: 400;
}

.btn-primary, .btn-primary.focus, .btn-primary:focus, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}
.page-template .p-page-simple .c-container {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

a.btn.btn-secondary.understrap-read-more-link {
    display: none;
}

input.addCart.btn.btn-primary:hover {
    /* background: #333333; */
    /*background: #eb6f17;*/
    border: none;
}
input.addCart.btn.btn-primary.js-change-cart-btn:hover {
    /* background: #333333; */
    /*background: #eb6f17;*/
    border: none;
}

.p-page-simple p {
    /*font-size: 16px;*/
    /*margin: 0;*/
    padding: 0;
}
p:empty {
    display: none !important;
}
.b-item-list-now br {
    display: none;
}

.img-event br {
    display: none;
}

.entry-content {
    padding: 0 15px;
}


.btn-primary {
    background: #eb6100;
    border: none;
    color: #ffffff;
}


.btn-primary.focus:hover, .btn-primary:focus:hover, .btn-primary:hover, .btn-primary:not([disabled]):not(.disabled).active:hover, .btn-primary:not([disabled]):not(.disabled):active:hover, .show>.btn-primary.dropdown-toggle:hover {
    background: #eb6f17;
    border: none;
}

@media (max-width: 1000px) {
    .page-template ul {
        list-style-position: inside;
    }
    /*  .single .entry-content .b-item-list > * {
         padding: 0 15px;
     } */

    .page-template .entry-content > * {
        padding: 0 15px;
    }
    .page-template .container-inner .entry-content .width-size-full {
        padding: 0;
    }
    .page-simple-bg .container-inner {
        width: 100%;
    }
    /*article .content-wrapper {*/
    /*margin: 0 -10px !important;*/
    /*padding: 0;*/
    /*}*/
    /*.b-item-list .b-item-list-column-item {*/
    /*padding: 0 10px;*/
    /*}*/
    /*.b-item-list .b-item-sub-image {*/
    /*padding: 0 ;*/
    /*}*/
    .b-item-list-column-item {
        width: auto;

    }

    .single .b-item-list-column-item {
        width: 50% ;

    }
    .page-template .b-item-list-column-item {
        width: 50% ;

    }
    .home .grid_list .b-item-list-column-item {
        width: 50%;
    }
    /*.b-item-list {*/
    /*padding: 0 ;*/
    /*}*/

}

@media (max-width: 1000px) {
    .single .entry-content {
        padding-left: 15px !important;
        padding-right: 15px !important;
        max-width: 940px;
        margin: 0 auto;
    }

    .home .grid_list .b-item-sub-image {
        padding: 0 15px;
    }
    /*    .page-template .b-item-list-detail {
       padding-left: 25px;
   } */
    .c-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-template .grid_list .b-item-list-column-item {
        margin-bottom: 40px;
        width: 25%;
        padding: 0 10px 0 10px;
        float: left;
    }

    .single .b-item-sub-image section.description-post .avatar {
        left: 5px;
        position: absolute;
        top: 0;
        overflow: hidden;
    }

    .grid_list.clearfix.grid_list2 {
        margin: 0;
    }

    /* .page-template .grid_list .b-item-sub-image {
        padding: 0;
    } */

    .single .grid_list.clearfix.grid_list2 {
        margin-right: -10px;
        margin-left: 0;
    }

    .single .b-item-sub-image {
        padding: 0 !important;
    }

    .page-template .grid_list.clearfix.grid_list2 {
        margin-right: -10px;
        margin-left: 0;
    }

    .page-template .grid_list .b-item-list-column-item {
        padding-right: 10px !important;
        padding-left: 0 !important;
    }
    .single .grid_list .b-item-list-column-item {
        padding-left: 0 !important;
    }
    .single .grid_list.clearfix.grid_list3 {
        margin: 0;
    }

    .page-template .b-item-sub-image {
        position: relative;
        background: transparent;
        margin-bottom: 40px;
        width: 100%;
        display: inline-block;
        padding-right: 15px;
        float: left;
        padding-left: 15px;
    }


    .single .b-item-sub-image .description-post {
        margin: 30px 0 -10px;
        padding: 0;
    }
}

.single .b-item-sub-image section.description-post .avatar {
    left: 5px;
    position: absolute;
    top: 0;
    overflow: hidden;
}
/*.p-page-simple a {*/
    /*text-decoration: none;*/
    /*color: #212121;*/
/*}*/

.b-item-list-detail .detail-title {
    margin-top: 0;
}

/*style edit widget*/
.page-template .b-item-list-now .item-detail-block {
    left: 0

}
.single .b-item-list-now .item-detail-block {
    left: 0;

}
.page-template .b-item-list-now .item-detail-block {
    top: 0;
}

.single .b-item-list-now .item-detail-block {
    top: 0;
}

.single .b-item-list-now .item-detail-block {
    top : 3px !important;
    margin-bottom: 20px;
}

.page-template .b-item-list-now .item-detail-block {
    top : 3px !important;
    margin-bottom: 20px;
}


.single .grid_list .b-item-list-column-item {
    margin-bottom: 40px;
    width: 50%;
    display: inline-block;
    padding: 0 10px 0 10px;
    float: left;
}

.b-buyer-list-column {
    width: inherit;
    margin-left: 0;
    font-size: 0;
    margin: 0 -5px;
}
.home .grid_list .b-item-list-column-item {
    margin-bottom: 40px;
    width: 50%;
    display: inline-block;
    padding: 0 10px;
    float: left;
}
/*style text header page */

/* -------------------- */
.single .header-title-single {
    text-align: center;
    margin: 50px 0 20px;
}
.single .title-description {
    text-align: left;
    padding-left: 70px;
}
.single .title-sale-ranking {
    font-size: 12px;
    color: #333;
    /* font-family: "Hiragino Kaku Gothic ProN", Anton, sans-serif; */
    /*font-weight: 600;*/
    margin-bottom: 0;
}
.page-template .p-page-simple .c-container {
    max-width: 100%;
}

.single #description-post {
    /* margin: 50px 0 20px; */
    position: relative;
    display: inline-block;
}

.single .product-catch {
    font-size: 38px;
    font-weight: 600;
    color: #333;
    /* nt-family: "Hiragino Kaku Gothic ProN", Anton, sans-serif; */
}

article.status-publish {
    position: relative;
    /*max-width: 940px;*/
    margin: 0 auto;
}
.single .entry-content {
    padding-left: 0 ;
    padding-right: 0 ;
    /* max-width: 940px; */
    margin: 0 auto;
}

.single .b-relation-items {
    margin-top: 70px;
    max-width: 940px;
    margin: 0 auto;
}

.b-item-detail-head .w-entry {
    width: 100%;
}
.description-post .avatar img {
    border-radius: 100%;
    overflow: hidden;
    width: 66px;
    height: 66px;

}
.single #description-post .avatar-single img {
    border-radius: 100%;
    overflow: hidden;
    width: 66px;
    height: 66px;
}
.single #description-post .avatar-single {
    position: absolute;
    top: 0;
    right: 20px;
    width: 66px;
    height: 66px;
    left: 0;
}
.single .entry-inventory {
    font-size: 12px;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
    font-weight: normal;

}
.archive .b-item-list-column-wrap-wrap {
    overflow: hidden;
    max-width: 940px;
    margin: 0 auto;
}

/*Desing page TOP*/

.b-banner-campaign {
    padding-top: 0px;
    padding-bottom: 0;
}
.single .b-item-sub-image {

    padding: 0 15px;
}

.b-item-sub-image {
    position: relative;
    /* height: 50%;
    width: 50%;
    background: transparent;
    float: left;
    padding: 0 15px; */
    background: transparent;
    margin-bottom: 40px;
    width: 50%;
    display: inline-block;
    padding: 0 15px;
    float: left;
}

.page-template .b-item-sub-image {
    padding: 0 15px;
    margin-bottom: 20px;
}
.b-item-sub-image .title-sale-ranking {
    font-size: 12px;
    color: #333;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
    /*font-weight: 600; */
    margin-bottom: 0;
    margin-left: 0;
}
.b-item-sub-image .item-image {
    position: initial;
    background: #eee;
    text-align: right;
}
.b-item-sub-image section.description-post .avatar {
    left: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
}
section.home-auto.description-post.clearfix {
    margin: 30px 0 15px;
}

.b-item-sub-image .description-post {
    position: relative;
    margin: 30px 0 15px;}
.b-item-sub-image .title-description {
    padding-left: 75px;
    padding-right: 0;
}
.b-item-sub-image .product-catch {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
}

.item-image-content {
    position: relative;
    max-width: 600px;
    background: transparent;
}
.item-image-content.b-item-sub-image.op-main img {
    margin-top: 40px;
}

.single .item-image-content .item-image {
    text-align: center;
}
.item-image-content.op-main .item-image {
    padding-left: 0;
    padding-right: 0;
}

.b-item-list-now .item-detail-block {
    position: inherit;
    z-index: 20;
    margin-bottom: 14px;
    left: 0;
}
.b-buyer-list {
    padding: 0 20px;
}

.item-detail-block .title {
    font-size: 26px;
    font-weight: 600;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
    /* margin-bottom: 10px; */
    text-transform: uppercase;
    margin-top: 0;
}
.b-item-detail-pattern {
    justify-content: inherit;
}
.b-item-detail-pattern .w-add-cart {
    width: 100%;
}
.b-buyer-list .b-buyer-item-bottom .buyer-name .sub {
    font-size: 12px;
    font-family: Impact, Anton, sans-serif;
}
.b-buyer-list .b-buyer-item-bottom .buyer-name {
    font-size: 20px;
    font-weight: 600;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
}
.c-font-num {
    font-family: Anton, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #333;
}
.b-item-list-now.op-odd .item-detail-block {
    left: auto;
    right: 0;
    text-align: inherit;
}
.price {
    font-size: 16px;
    font-weight: 600;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
}

.section-title, .p-front-section .section-title {
    font-size: 32px;
    font-weight: 600;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
    margin-bottom: 12px;
    margin-top: 95px;
    text-align: center;
}
.buyer-name {
    font-size: 20px;
    font-weight: 600;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
}

.b-section-block .section-title {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
    color: #333;
    margin: 70px 0 40px 0;
}
.single .item-image-content .item-image {
    text-align: right;
}
.item-image-content .item-image {
    position: relative;
    z-index: 10;
    background: none;
    text-align: right;
    width: 100%;
}
.b-item-list-now {
    margin-bottom: 0;
}

section.p-front-section {
    max-width: 1120px;
    margin: 0 auto;
}

.b-buyer-list-column .b-buyer-list {
    max-width: 33.3%;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
/*.single .entry-content select, .page .entry-content select {*/
    /*font-size: 18px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*padding-left: 15px;*/
    /*font-weight: 600;*/

    /*!*  font-family: "Hiragino Sans", Anton, sans-serif; *!*/
/*}*/
.c-select-cart.op-size-s label:after {
    margin-right: 20px;
}

.addcart-shortcode .addCart {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    font-weight: 600;
    height: 51px;
    max-width: 100%;
    display: block;
    width: 100%;

}
.addcart-shortcode .p-single-btn-bottom-add-cart {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 500px;
    margin: 20px auto;
}
.b-item-list-detail .detail-price{
    font-weight:100;

}

/*Edit page Post*/

article .content-wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 ;
    /* overflow: hidden; */

}
.single .content-single-top {
    position: relative;
    overflow: hidden;
    clear: both;
}
.single .container-content-single {
    /*max-width: 1120px;*/
    margin: 60px 0 0 0;
}

.single .entry-header-single {
    width: 33%;
    float: left;
    margin-left: 20px;
}
.single .img-single-thumbnail {
    margin: 0 auto;
    max-width: 100%;
    float: left;
    width: 64%;
    background: transparent;
}

.single .item-detail-single .entry-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
}
.single .item-detail-single .entry-price {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: Impact, Anton, sans-serif;
    color: #333;
}

.single .entry-quantity {
    font-size: 12px;
    margin-bottom: 16px;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
}
.single .delivery-date {
    margin-bottom: 14px;
    font-size: 12px;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
}
.single .entry-price span {
    font-size: 12px;
    font-weight: 600;
    /*  font-family: "Hiragino Sans", Anton, sans-serif; */
}

.single .c-select-cart label {
    width: 100%;
}

/*.single .item-detail-pattern label.js-get-cart-url select {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*padding: 2px 2px 2px 2px;*/
    /*background: transparent url(images/br_down.png) no-repeat no-repeat 97% 50% / 13px 13px;*/
    /*background-size: 14px;*/
    /*width: 288px;*/
    /*max-width: 500px;*/
    /*height: 51px;*/
    /*max-height: 100%;*/
    /*padding: 10px 15px;*/
    /*font-size: 18px;*/
    /*font-weight: 600;*/
    /*!*  font-family: "Hiragino Sans", Anton, sans-serif; *!*/
/*}*/
/*.single .item-detail-pattern .addCart {*/
    /*width: 290px;*/
    /*max-width: 500px;*/
    /*height: 51px;*/
    /*font-size: 18px;*/
    /*font-weight: 600;*/
    /*color: #fff;*/
    /*!*  font-family: "Hiragino Sans", Anton, sans-serif; *!*/
/*}*/
.single .item-detail-pattern {
    /*position: absolute;*/
    /*bottom: 0;*/
}

.single .c-select-cart.op-size-s label:after {
    margin-right: 20px;
    content: url(https://www.abemashopping.jp/wp-content/themes/ameba_shopping_wp/images/select-arrow.svg);
    height: 8px;
    width: 13px;
}
.sp {
    display: none;
}

/*----------------------------*/

/*Responsive page Post*/

@media (max-width: 768px) {
    .addcart-shortcode .p-single-btn-bottom-add-cart {
        padding: 0;
    }
    /*article .content-wrapper {*/
    /*padding: 0 20px;*/
    /*}*/
    /*.page-template .p-page-simple .entry-content {*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*}*/
    .single .container-content-single {
        /*margin: 8px 20px 0 20px;*/
        margin: 8px 0;
    }

    .single #description-post {
        position: relative;
        padding: 0 20px;
        margin: 30px 0 10px ;
    }
    .single .product-catch {
        font-size: 24px;
    }
    .single #description-post .avatar-single {
        position: absolute;
        left: 10px;
        top: 0;
    }
    /*  .single .title-description {
         padding-left: 70px;
     } */
    .single article.status-publish {
        margin-left: 0;
        margin-right: 0;
    }
    .single .title-sale-ranking {
        font-size: 12px;
        margin-left: 0;
        margin-bottom: 0;
        /*font-weight: 600; */
        /*  font-family: "Hiragino Sans", Anton, sans-serif; */
    }

    .single .entry-header-single {
        width: 100%;
        float: left;
        margin: 0 auto;

    }
    .single .img-single-thumbnail {
        margin: 0 auto;
        max-width: 100%;
        float: left;
        width: 100%;
        /* background: #eee; */
    }
    .single .item-detail-pattern {
        position: inherit;

    }
    .single .item-detail-single {
        margin: 22px 20px 0 20px;
    }
    .single .item-detail-single .w-entry {
        margin-bottom: 30px;
    }
    .single .item-detail-single .entry-title {
        margin-bottom: 8px;
        font-size: 26px;
    }
    .single .item-detail-single .entry-price {
        margin-bottom: 8px;
    }
    .single .entry-quantity {
        margin-bottom: 14px;
        padding-right: 16px;
    }

    /*.single .item-detail-pattern label.js-get-cart-url select {*/
        /*width: 100%;*/
        /*max-width: 100%;*/
    /*}*/

    /*.single .item-detail-pattern .addCart {*/
        /*width: 100%;*/
        /*max-width: 100%;*/
        /*height: 51px;*/
    /*}*/
    .single .b-buyer-list-link .l-left {
        margin-bottom: 15px;
    }

    /*.single .p-single-btn-bottom-add-cart {*/
        /*margin-top: 60px;*/
        /*max-width: 100%;*/
        /*margin-right: 0;*/
        /*margin-left: 0;*/
        /*padding-left: 0;*/
        /*padding-right: 0;*/
    /*}*/

    img.sp-hidden {
        display: none;
    }
    .sp-hidden {
        display: none;
    }
    .sp {
        display: block;
    }


    .single .c-container .l-youtube-4-3 {
        text-align: center;
    }

    .page-template .entry-content .l-youtube-4-3 {
        position: relative;
        width: 100%;
        padding: 75% 0 0 0;
    }
    .page-template .entry-content .l-youtube-4-3 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .single .page-template .entry-content .l-youtube-4-3 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .single .page-template .entry-content .l-youtube-4-3 {
        position: relative;
        width: 100%;
        padding: 75% 0 0 0;
    }
    .single .page-template .entry-content .l-youtube-4-3 {
        /*box-sizing: border-box; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    .single .page-template .entry-content {
        padding: 0 20px;
    }
    .single .header-title-single {
        text-align: center;
        margin: 0;
    }


    /* Responsive Page TOP*/
    .b-item-sub-image {
        width: 100%;
        margin-bottom: 20px;
    }
    .b-item-sub-image .title-sale-ranking {
        margin-bottom: 0;
    }
    .b-item-sub-image section.description-post .avatar {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;

    }
    .description-post .avatar img {
        max-width: 66px;
        width: 66px;
        max-height: 66px;
        height: 66px;

    }

    .b-item-sub-image .item-image {
        background: #EEEEEE;
        text-align: right;
    }
    .b-item-sub-image .product-catch {
        font-size: 24px;

    }
    .b-item-list-now .item-detail-block {
        position: inherit;
        z-index: 20;
        margin-bottom: 40px;
        left: 0;
        overflow: hidden;
        top: 20px !important;
    }
    .item-detail-block .title {
        /* margin-bottom: 15px; */
    }
    .c-font-num {
        font-size: 20px;
        margin:0 auto;
    }
    .item-shop-container {
        padding-left: 0;
        padding-right: 0;
        width: calc(100% + 10px);
    }
    .shop-item {
        display: none;
    }
    .b-buyer-list .count-number-sp {
        display: none;
    }
    .b-buyer-list .b-buyer-item-bottom, .b-buyer-list .b-buyer-list-bottom {
        margin-top: 0;
    }

    .section-title, .p-front-section .section-title {
        font-size: 24px;
        font-family: Impact, Anton, sans-serif;
        margin: 45px 0 12px 0;
    }
    .b-buyer-list-column .b-buyer-list {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .b-buyer-list {
        padding: 0;
    }
    section.home-auto.description-post.clearfix {
        margin: 0;
    }
    .b-item-sub-image .description-post {
        margin: 30px 0 5px;
        padding: 0;
    }
    .b-item-list-now {
        position: relative;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 641px) {
    .b-buyer-list-column .b-buyer-list {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (min-width: 1800px) {

    .w-cart {
        max-width: 100%;
        width: 100%;
    }
}

/* =WordPress Core
————————————————————– */
.alignnone {
    margin: 0;
}
.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 0 0 0;
}
a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}
